<div class="break">
    <h1 align='center'>Training Plan</h1>
    <table width="1276" border='1' align='center'>
      <tbody>
        <tr>
          <td width="130">
            <p><strong>COURSE CODE</strong></p>
          </td>
          <td width="378">
            <p><strong>CHC50113</strong></p>
          </td>
          <td width="130">
            <p><strong>COURSE TITLE</strong></p>
          </td>
          <td colspan="3" width="638">
            <p><strong>&nbsp;</strong><strong>Diploma of Early Childhood Education and Care</strong></p>
            <p><strong>&nbsp;</strong></p>
          </td>
        </tr>
        <tr>
          <td width="130">
            <p><strong>Student Name:</strong></p>
          </td>
          <td width="378">
            <p><strong>&nbsp;</strong></p>
          </td>
          <td width="130">
            <p><strong>Student Phone: </strong></p>
          </td>
          <td width="299">
            <p><strong>&nbsp;</strong></p>
          </td>
          <td width="174">
            <p><strong>Proposed Training Commencement Date:</strong></p>
          </td>
          <td width="165">
            <p><strong><input type='date' value='2019-03-07'></strong></p>
          </td>
        </tr>
        <tr>
          <td width="130">
            <p><strong>Student ID:</strong></p>
          </td>
          <td width="378">
            <p><strong>&nbsp;</strong></p>
          </td>
          <td width="130">
            <p><strong>Student Email:</strong></p>
          </td>
          <td width="299">
            <p><strong>&nbsp;</strong></p>
          </td>
          <td width="174">
            <p><strong>Proposed Training Completion Date:</strong></p>
          </td>
          <td width="165">
            <p><strong><input type='date' value='2019-03-21'></strong></p>
          </td>
        </tr>
        <tr>
          <td width="130">
            <p><strong>Address:</strong></p>
          </td>
          <td width="378">
            <p><strong>&nbsp;</strong></p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>&nbsp;</strong></p>
          </td>
          <td width="130">
            <p><strong>LLN Completed:</strong></p>
          </td>
          <td width="299">
            <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                No</strong></p>
          </td>
          <td width="174">
            <p><strong>Time &amp; Day: </strong></p>
            <p><strong>2 am to 3 pm</strong></p>
  
          </td>
          <td width="165">
            <p><strong>RPL/Credit Transfer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No</strong></p>
          </td>
        </tr>
        <tr>
          <td width="130">
            <p><strong>Trainer&rsquo;s Name:</strong></p>
          </td>
          <td width="378">
            <p></p>
          </td>
          <td width="130">
            <p><strong>Trainer&rsquo;s email address:</strong></p>
          </td>
          <td width="299">
            <p></p>
          </td>
          <td width="174">
            <p><strong>Work placement Hours:</strong></p>
          </td>
          <td width="165">
            <p><strong>200</strong></p>
          </td>
        </tr>
        <tr>
          <td colspan="6" width="1276">
            <p>TOTAL PROGRAMME SUPERVISED HOURS= 0</p>
            <p><strong>&nbsp;</strong></p>
          </td>
        </tr>
        <tr>
          <td width="130">
            <p><strong>Training Location:</strong></p>
          </td>
          <td colspan="5" width="1146">
            <p><strong>Dandenong</strong><br /> Level 5 Plaza Business Centre, 26 McCrae Street, Dandenong 3175</p>
          </td>
        </tr>
        <tr>
          <td width="130">
            <p><strong>Training Methods</strong></p>
          </td>
          <td colspan="5" width="1146">
            <p>Face to face, Self-study and Work Placement Observation</p>
          </td>
        </tr>
  
      </tbody>
    </table>
  </div>